.info-text {
    
    padding: 25px 30px;
    color: #333;
    line-height: 1.6;
}
.info-text h2 { text-align: center; }
.video-container {
  max-width: 800px;      /* ограничение ширины */
  margin: 0 auto;        /* центрирование */
  padding: 0 16px;       /* отступы на мобилках */
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;  /* ключ для адаптивности */
  border: none;
  display: block;
}
.stand-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.stand-bg {
  background: url("/panoramaepta/images/Stand1.jpg") no-repeat center/contain;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.stand-img {
  width: 100%;
  height: auto;
}

/* ВКЛ/ВЫКЛ */
.power-switch {
  position: absolute;
  top: 42%;
  left: 8.5%;
  transform: scale(5);
}

/* Частота */
.freq-slider {
  position: absolute;
  top: 75%;
  left: 44%;
  width: 15%;
}

.freq-display {
  position: absolute;
  top: 38%;
  left: 48%;
}

/* Напряженность */
.field-display {
  position: absolute;
  top: 38%;
  left: 28%;
}

/* Аттенюатор */
.attenuator {
  position: absolute;
  top: 65%;
  left: 70%;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  width: 25%;
}

.attenuator button {
  flex: 1 1 30%;
  font-size: 10px;
}

/* Дисплеи */
.display {
  
  color: #000;
  padding: 5px;
  border-radius: 2px;
  font-family: monospace;
  font-size: 14px;
}

@media (max-width: 600px) {

  .display {
    font-size: 8px;
    padding: 3px;
    top: 36%
  }
  .field-display {
  left: 27%;
  }
  .freq-display {
  left: 46%;
  }
  .freq-slider {
    width: 17%;
    left: 42.5%;
  }

  .attenuator {
    width: 35%;
    gap: 2px;
    left: 62%;
  }

  .attenuator button {
    font-size: 8px;
    padding: 2px;
  }

  .power-switch {
    transform: scale(2);
    top: 40%;
    left: 7%;
  }
}
